<!--Tag Manager noscript-->
  
  
  <!-- Loading Gif -->
  <div id="load"></div>
  <div id="contents">
  
  <div id="wrap">
  
  <!-- Header -->
  <secion id="header">
    <div style="text-align:center;">

      <!-- Header logo for large screens -->
        <div id="phone">
          <h4>(650) 343-5633</h4>
          <p>San Mateo, CA</p>
        </div>

        <div class="header-position">
          <a href="/"><!-- <h1 id="brand"><strong>ROM Clinic</strong></h1> -->
            <img id="logo" src="resources/logo/ROM_DNA_FINALWHITE-01.png" />
            <img id="logo2" src="resources/logo/ROM_DNA_FINALCOLOR-01.png" />
          </a>
        </div>

        <!-- Social Media Icons -->
        <div id="fullName">
          <h4>The Regenerative Orthopedic</h4>
          <h4>Medicine Clinic</h4>
        </div>
    </div>
  </secion>


  <!-- Navigation -->
  <nav id="decrease" class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!-- Navbar logo for small screens -->
        <a href = "/">
            <img id="navlogo" src="resources/logo/ROM_DNA_FINALWHITE-01.png" alt="ROM Clinic" />
        </a>
        <button id="burger" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li><a class="btNav" id="btHome" href="/">Home</a></li>
          <li><a class="btNav" id="btStaff" href="/staff">Staff</a></li>
          <li class="dropdown"><a href="" class="dropdown-toggle btNav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="btServices">Services</a>
            <ul class="dropdown-menu">
              <li><a href="/stemcells" class="subNav">Stem Cell Overview</a></li>
              <li><a href="/prp" class="subNav">Platelet Rich Plasma Overview</a></li>
              <li id="divide" role="separator" class="divider"></li>
              <li><a href="/knee" class="subNav">Knee</a></li>
              <li><a href="/hip" class="subNav">Hip</a></li>
              <li><a href="/shoulder" class="subNav">Shoulder</a></li>
              <li><a href="/elbow" class="subNav">Elbow</a></li>
            </ul>
          </li>
          <li><a class="btNav" id="btContact" href="/contact">Contact</a></li>
          <li><a class="btNav" id="btReviews" href="/reviews">Reviews</a></li>
          <li><a class="btNav" id="btBlog" target="_blank" href="http://romclinic.ghost.io/">Blog</a></li>
          <!--<li><a class="btNav" id="btNews" href="#">News</a></li>-->
        </ul>
      </div>
    </div>
  </nav>