<title>PRP | The ROM Clinic</title>
<meta name="description" content="Platelet Rich Plasma (PRP) is a non-operative procedure, where platelets from the patient’s blood are injected into cartilage and tendons to reduce pain and aid in the healing of common injuries." />
<meta name="keywords" content="Stem Cells, Platlet Rich Plasma, PRP, Orthopedics, Orthopaedics, knee, hip, shoulder, elbow">
<meta name="author" content="chuckrevans" />