<% include partials/header-1 %>
<% include partials/elbowTitle %>
<% include partials/header-2 %>
<% include partials/phone-conversions %>
<% include partials/navigation %>

  <!-- Headline -->
  <div id="elbowHeadline" class="jumbotron">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
          <div class="titleBox fadeOut stop">
            <h1>Elbow Treatment Overview</h1>
            <h2 style="font-weight:300;">Stem Cell Therapy &#38; Platelet Rich Plasma Procedures are next generation regenerative injection treatments for those who are suffering from Tennis or Golfer's Elbow, Arthritis & Other Elbow Conditions.</h2>
          </div>
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
  
  <!-- Hip Overview -->
  <section class="whiteSection">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 style="font-weight:300;">Let the ROM Clinic's advanced Stem Cell &#38; Platelet Procedures get you back to doing what you love.</h2>
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end container -->
  </section>
  
  
  <div id="elbowIntro">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <p class="big margin text-left" class="justify">Injuries in the elbow are commonly caused by a well known condition called tennis elbow. Treating this inflamed tissue with surgery can result in loss of strength in the forearm or a decreased range of motion. Injection procedures have proven to be very effective in the elbow joint if you are experiencing any of the following conditions:</p>
          <div class="text-left bulletsLeft">
            <ul class="big margin text-left" style="list-style-type:circle;">
              <li>Lateral Epicondylitis (Tennis Elbow)</li>
              <li>Medial Epicondylitis (Golfer's Elbow)</li>
              <li>Arthritis of the elbow joint</li>
              <li>Nerve entrapment</li>
            </ul>
          </div>
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end kneeIntro -->


  <!-- Shoulder Overview -->
  <section class="whiteSection">
    <div class="container">
      <h2>Stem Cells &#38; PRP in the Elbow</h2>
      <hr>
      <p class="big margin text-left"></p>
      <p class="big margin text-left"></p>
    </div><!-- Container -->
    <!-- ------------------------- -->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="btnCenter"><a id="btnHv" class="btn btn-default" href="/stemcells" role="button">Stem Cell Procedure Overview</a></p>
        </div>
        <div class="col-md-6">
          <p class="btnCenter"><a id="btnHv" class="btn btn-default" href="/prp" role="button">Platelet Procedure overview</a></p>
        </div>
      </div>
    </div>
  </section>
  
<% include partials/cta %>   
    
<% include partials/footer %>