<% include partials/header-1 %>
<% include partials/hipTitle %>
<% include partials/header-2 %>
<% include partials/navigation %>

<!-- Headline -->
  <div id="hipHeadline" class="jumbotron">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
          <div class="titleBox fadeOut stop">
            <h1>Hip Treatment Overview</h1>
            <h2 style="font-weight:300;">The ROM Clinic offers non-surgical, breakthrough Stem Cell therapy procedures for treating hip pain due to common injuries, hip arthritis, avascular necrosis, osteonecrosis, hip bursitis or other degenerative problems related to the hip joint.</h2>
          </div>
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
  
  
  <!-- Hip Overview -->
  <section class="whiteSection">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 style="font-weight:300;">Let the ROM Clinic's advanced Stem Cell &#38; Platelet Procedures get you back to doing what you love.</h2>
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end container -->
  </section>
  <!-- ------------------------- -->
  <div id="hipIntro">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7">
          <p class="big margin text-left" class="justify">Hip injuries can lead to long term pain management or traumatic surgery options. Stem cell therapy in the hip has the potential to both solve your hip pain and allow you to get back to your regular life much quicker than the surgery alternatives. Stem Cell Therapy could get you back to doing what you love right away if you are experiencing any of the following conditions:</p>
          <div class="text-left bulletsLeft">
            <ul class="lead" style="list-style-type:circle;">
              <li>Arthritis of the Hip joint</li>
              <li>Bursitis of the hip</li>
              <li>Strains in the Hip</li>
              <li>Traumatic ligament injuries</li>
              <li>Overuse conditions</li>
              <li>Other degenerative conditions</li>
            </ul>
          </div>
        </div><!-- end col 2 -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end kneeIntro -->

  <!-- Hip Overview -->
  <section class="whiteSection">
    <div class="container">
      <h2>Stem Cells in the Hip</h2>
      <hr>
      <p class="big margin text-left">Previously reported results from a blinded, controlled study showed patients with chronic osteoarthritis of the hip joint demonstrated significant pain relief from of a single intraarticular injection of stem cells. Thus this stem cell treatment can be a joint preservation procedure preventing or delaying the need for a total hip replacement.</p>
      <p class="big margin text-left">Mesenchymal stem cells are present in many human tissues and serve as a readily available source of undifferentiated cells being capable to form specific tissues like bone, cartilage, fat, muscle and tendon. They represent an attractive and promising field in tissue regeneration and engineering for treatment applications in a wide range of trauma and orthopedic conditions.</p>
      <p class="big margin text-left">These stem cell procedures have shown to heal damaged hip joints from degenerative wear of cartilage and also healing of avascular necrosis (AVN). We are trained orthopedic doctors and surgeons that will safely and confidently provide you with a non-operative procedure that can restore your life to one more enjoyable and pain free.</p> 
      <p class="big margin text-left">These non-surgical stem cell injection procedures happen within a single office visit and usually lasts about an hour.  It is a viable alternative for those who are facing hip surgery or hip replacement. Our patients return to normal activity following their procedure and are able to avoid the painful and lengthy rehabilitation usually seen with hip surgery.  Our patients are far less vulnerable to the serious risks associated with hip surgeries, such as infection and blood clots.</p>
      <p class="big margin text-left">The stem cell procedure can also be used in conjunction with hip arthroscopy surgery to help with cartilage healing and regeneration of damaged areas unveiled in an arthroscopic procedure.</p>
      <p class="big margin text-left">If you are suffering from <a target="_blank" href="https://www.youtube.com/embed/iKdBB9sovt8">hip pain</a>, a hip injury, labral tear, osteoarthritis or AVN, you most likely are a good candidate for a stem cell procedure done by our expert staff.</p>
    </div><!-- Container -->
    <!-- ------------------------- -->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="btnCenter"><a id="btnHv" class="btn btn-default" href="/stemcells" role="button">Stem Cell Procedure Overview</a></p>
        </div>
        <div class="col-md-6">
          <p class="btnCenter"><a id="btnHv" class="btn btn-default" href="/prp" role="button">Platelet Procedure overview</a></p>
        </div>
      </div>
    </div>
  </section>
  
<% include partials/cta %> 

<% include partials/footer %>