<% include partials/header-1 %>
<% include partials/kneeTitle %>
<% include partials/header-2 %>
<% include partials/navigation %>

<!-- Headline -->
  <div id="kneeHeadline" class="jumbotron">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
          <div class="titleBox fadeOut stop">
            <h1>Knee Treatment Overview</h1>
            <!--<h2 style="font-weight:300;">The ROM Clinic Stem Cell &#38; Platelet Procedures can treat knee injuries, arthritus, meniscus tears and general overuse.</h2>-->
            <h2 style="font-weight:300;">Stem Cell &#38; Platelet Rich Plasma non-operative injection procedures are the most advanced regenerative treatment for treating knee pain due to arthritis, meniscus tears, traumatic ligament injuries, overuse conditions and other degenerative conditions.</h2>
          </div>
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div>


  <!-- Knee Overview -->
  <section class="whiteSection">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 style="font-weight:300;">Let the ROM Clinic's advanced Stem Cell &#38; Platelet Procedures get you back to doing what you love.</h2>
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end container -->
  </section>


  <div id="kneeIntro">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 col-md-offset-4">
          <p class="big margin text-left">Healthy knees are essential to everyday activities and sports. Common knee treatment options are arthroscopic knee surgery or total joint replacement, both of which require months of rehab. Knee injections could get you back to doing what you love right away if you are experiencing any of the following conditions:</p>
          <div class="text-left bulletsLeft">
            <ul class="lead" style="list-style-type:circle;">
              <li>Arthritis of the knee joint</li>
              <li>Meniscus tears</li>
              <li>Knee cartilage injuries</li>
              <li>Traumatic ligament injuries</li>
              <li>Overuse conditions</li>
              <li>Other degenerative conditions</li>
            </ul>
          </div>
        </div><!-- end col 2 -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end kneeIntro -->


  <section class="whiteSection">
    <div class="container">
      <h2>Stem Cells &#38; PRP in the Knee</h2>
      <hr>
      <p class="big margin text-left">If you are suffering from knee pain or have had an injury to the meniscus, cartilage, ACL or MCL ligaments of the knee or have chronic knee pain due to a past injury or arthritis, you are a good candidate for knee stem cell therapy or platelet rich plasma procedures. Traditional treatment options for patients suffering from these knee issues include arthroscopic knee surgery to repair ligament tears, or total knee joint replacement which usually cause much pain and months of rehabilitation and probably a loss of work hours.  Also there are many associated risks with surgery including infection or blood clots.</p>
      <p class="big margin text-left">Our stem cell treatment uses your own stem cells to regenerate and repair your cartilage of your knee with some patients feeling the benefit immediately. The healing potential of your own stem cells is tremendous but these cells do not get into joints because of natural barriers.  Our technique gets these healing stem cells and plasma into your joint to allow cartilage healing and regeneration with decreased inflammation and decreased and possible elimination of pain with no down time and a procedure that takes about an hour.  This procedure can also be used as a way to prevent arthritis in the knee by increasing the healing potential of the joint so arthritis never occurs.</p>
      <p class="big margin text-left">Please come see us so we can stop the pain in your knee and start the healing.</p>
    </div><!-- end container -->


    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="btnCenter"><a id="btnHv" class="btn btn-default" href="/stemcells" role="button">Stem Cell Procedure Overview</a></p>
        </div>
        <div class="col-md-6">
          <p class="btnCenter"><a id="btnHv" class="btn btn-default" href="/prp" role="button">Platelet Procedure overview</a></p>
        </div>
      </div>
    </div>
  </section>
  
<% include partials/cta %>

<% include partials/footer %>