<% include partials/header-1 %>
<% include partials/landingTitle %>
<% include partials/header-2 %>
<% include partials/phone-conversions %>
<% include partials/navigation %>


<!-- Headline -->
  <!--<div id="headline" class="jumbotron">-->
  <!--  <div class="container-fluid">-->
  <!--    <div class="row">-->
  <!--      <div class="col-md-4">-->
  <!--        <div class="stop center-block titleBox2 fadeOut"><!-- remove hidden -->
  <!--          <h1 class="">A natural solution to heal your body, faster.</h1>-->
  <!--          <h2 class="" style="font-weight:300;">Our regenerative therapy procedures can help you get back to a pain free life.</h2>-->
  <!--          <p><a class="btn-dark fadeOut" href="/stemcells" role="button">Learn More &raquo;</a></p>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  
  
  <!-- Video Headline -->
  <video autoplay muted poster="" id="bgvid" loop webkit-playsinline="false" playsinline="false">
    <source src="resources/videos/Scuba.mp4" type="video/mp4">
  </video>
  <div id="videoText" class="jumbotron">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="stop2 center-block titleBox2 fadeOut">
            <h1>A natural solution to heal your body, faster.</h1>
            <h2 class="margin" style="font-weight:300;">Don't assume you have to operate, explore the opportunities in regenerative medicine. Our regenerative therapy procedures can help you get back to a pain free life.</h2>
            <h2>Call <b>(650) 343-5633</b> to schedule your consultation</h2>
              <!--<div class="header-links">-->
                <!--<p class="btn-spacing"><a class="btn-dark btn-dark-alt" href="/stemcells" role="button">Stem Cells &raquo;</a></p>-->
                <!--<p class="btn-spacing"><a class="btn-dark btn-dark-alt" href="/prp" role="button">PRP &raquo;</a></p>-->
                <!--<script src="//static.leadpages.net/leadboxes/current/embed.js" async defer></script>-->
                <!--<button data-leadbox-popup="12121c973f72a2:102a5c0e4946dc" class="btn-dark">Get Your Free Info Packet Here!</button>-->
              </div> <!-- style="display:block; margin-left:auto; margin-right:auto; margin-top:10px;" -->
          </div>
        </div><!-- End col -->
      </div><!-- End row -->
    </div><!-- End container -->
  </div>
  
  
  <!-- Introduction -->
  <section class="whiteSection">
    <div class=" container">
      <h2 class="text-center">A Pain Free Life Without Surgery</h2>
      <hr>
      <p class="big margin text-left">The Regenerative Orthopedic Medicine Clinic offers world class stem cell and platelet procedures to help you get back to the pain free way of life you are used to. If you have a tendon or ligament injury, muscle injury, joint damage, nerve pain, or back pain, you may be a candidate. If you are not getting the results you need from your current treatment plan and you want to avoid surgery if at all possible, then you owe it to yourself or your family to investigate stem cell therapy and platelet rich plasma procedures.</p>
      <p class="big margin text-left">Regardless of age, stem cell and platelet injection procedures can be an effective method of stopping your pain from a damaged or injured joint or preventing the increase of common arthritis pain. Don't let joint pain take over your life. A sufficient number of stem cells can be isolated from anyone and these stem cells can become cartilage when injected into an arthritic joint. This allows the treatment and potential healing of many painful arthritic joints with a simple in-office, painless procedure. Initial improvements in pain and mobility are seen within few weeks of treatment and continue to gradually improve as the healing process continues.</p>
    </div><!-- end container -->
  </section>

  <!-- Stemm Cell Intro -->
  <div id="stemCellIntro" class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <div class="titleBox2">
        <h1>Stem Cell Therapy</h1>
        <p>Stem cells have the capability to heal or replace damaged tissues and cells in the body. They accomplish this by transforming into other cell types, such as bones, cartilage, muscles and tendons.</p>
        <p id="stemCellLink"><a class="btn-dark" href="/stemcells" role="button">Learn More &raquo;</a></p>
        </div>
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
  </div>
  
  <!-- Platlet Rich Plasma -->
  <div id="prpIntro" class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <div class="titleBox2">
        <h1>Platelet Rich Plasma</h1>
        <p>Platelet Rich Plasma (PRP) is a non-operative procedure, where platelets from the patient’s blood are injected into cartilage and tendons to reduce pain and aid in the healing of common injuries.</p>
        <p id="stemCellLink"><a class="btn-dark" href="/prp" role="button">Learn More &raquo;</a></p>
        </div>
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
  </div>

  <!-- Areas Covered Overview -->
  <section class="whiteSection">
    <div class="container">
    <h2 class="text-center">Where Are You Experiencing Pain?</h2>
    <h4 class="text-center">The ROM Clinic Focus Areas</h4>
    <hr width="100%">
      <div class="row">
        <!--Knee Section-->
        <div class="col-md-3">
          <!--<img class="img-circle img-responsive center-block" src="" alt="" width="140" height="140">-->
          <h2>Knee</h2>
          <p class="text-justify">Healthy knees are essential to everyday activities and sports. Common knee treatment options are arthroscopic knee surgery or total joint replacement, both of which require months of rehab. Knee injections could get you back to doing what you love right away.</p>
          <div class="panel panel-default">
            <div class="panel-heading">
              <a id="clicking" data-toggle="collapse" data-parent="#accordion" href="#collapse1"><p class="panel-title">View Knee Conditions</p></a>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="text-left" style="list-style-type:circle;">
                  <li>Arthritis of the knee joint</li>
                  <li>Meniscus tears</li>
                  <li>Knee cartilage injuries</li>
                  <li>Tramautic ligament injuries</li>
                  <li>Overuse conditions</li>
                  <li>Other degenerative conditions</li>
                </ul>
              </div>
            </div>
          </div>
          <p class="btnCenter btnPad"><a class="btn btn-default" href="/knee" role="button">Learn More &raquo;</a></p>
        </div><!-- end col -->
        <!--Hip Section-->
        <div class="col-md-3">
          <!--<img class="img-circle img-responsive center-block" src="" alt="" width="140" height="140">-->
          <h2>Hip</h2>
          <p class="text-justify">Hip injuries can lead to long term pain management or traumatic surgery options. Stem cell therapy in the hip has the potential to both solve your hip pain and allow you to get back to your regular life much quicker than the surgery alternatives.</p>
          <div class="panel panel-default">
            <div class="panel-heading">
              <a id="clicking" data-toggle="collapse" data-parent="#accordion" href="#collapse2"><p class="panel-title">View Hip Conditions</p></a>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="text-left" style="list-style-type:circle;">
                  <li>Arthritis of the Hip joint</li>
                  <li>Bursitis of the hip</li>
                  <li>Strains in the Hip</li>
                  <li>Tramautic ligament injuries</li>
                  <li>Overuse conditions</li>
                  <li>Other degenerative conditions</li>
                </ul>
              </div>
            </div>
          </div>
          <p class="btnCenter btnPad"><a class="btn btn-default" href="/hip" role="button">Learn More &raquo;</a></p>
        </div><!-- end col -->
        <!--Shoulder Section-->
        <div class="col-md-3">
          <!--<img class="img-circle img-responsive center-block" src="" alt="" width="140" height="140">-->
          <h2>Shoulder</h2>
          <p class="text-justify">Injuries are very common in the shoulder due to how movable the joint is. The complexity of the joint makes surgery difficult and strength recovery can be a long road. Non-invasive injection procedures can alleviate pain with little to no down time.</p>
          <div class="panel panel-default">
            <div class="panel-heading">
              <a id="clicking" data-toggle="collapse" data-parent="#accordion" href="#collapse3"><p class="panel-title">View Shoulder Conditions</p></a>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="text-left" style="list-style-type:circle;">
                  <li>Rotator cuff tears</li>
                  <li>Arthritis of the shoulder joint</li>
                  <li>Labral tears or degeneration</li>
                  <li>Rotator cuff tendonitis</li>
                  <li>Acromio-clavicular (AC) Joint </li>
                  <li>Bursitis of the shoulder</li>
                  <li>Shoulder Impingement Syndrome</li>
                </ul>
              </div>
            </div>
          </div>
          <p class="btnCenter btnPad"><a class="btn btn-default" href="/shoulder" role="button">Learn More &raquo;</a></p>
        </div><!-- end col -->
        <!--Elbow Section-->
        <div class="col-md-3">
          <!--<img class="img-circle img-responsive center-block" src="r" alt="" width="140" height="140">-->
          <h2>Elbow</h2>
          <p class="text-justify">Injuries in the elbow are commonly caused by a well known condition called tennis elbow. Treating this inflamed tissue with surgery can result in loss of strength in the forearm or a decreased range of motion. Injection procedures have proven to be very effective in the elbow joint.</p>
          <div class="panel panel-default">
            <div class="panel-heading">
              <a id="clicking" data-toggle="collapse" data-parent="#accordion" href="#collapse4"><p class="panel-title">View Elbow Conditions</p></a>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="text-left" style="list-style-type:circle;">
                  <li>Lateral Epicondylitis (Tennis Elbow)</li>
                  <li>Medial Epicondylitis (Golfer's Elbow)</li>
                  <li>Arthritis of the elbow joint</li>
                  <li>Nerve entrapment</li>
                </ul>
              </div>
            </div>
          </div>
          <p class="btnCenter"><a class="btn btn-default" href="/elbow" role="button">Learn More &raquo;</a></p>
        </div><!-- end col -->
      </div><!-- /.row -->
    </div>
  </section>
  
  <% include partials/cta %>

  <!-- Affiliations -->
  <section id="Affiliations">
    <div class="container">
      <h2>Affiliations</h2>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <img class="img-responsive" src=resources/affiliationLogos/smcma.jpg />
          <a href="http://www.aaos.org/" target="_blank"><p>American Academy for Orthopaedic Surgeons</p></a>
        </div>
        <div class="col-sm-4">
          <img class="img-responsive" src=resources/affiliationLogos/aaos.jpg />
          <a href="http://www.sportsmed.org/aossmimis" target="_blank"><p>The American Orthopaedic Society for Sports Medicine</p></a>
        </div>
        <div class="col-sm-4">
          <img class="img-responsive" src=resources/affiliationLogos/aossm.jpg />
          <a href="http://www.woa-assn.org/" target="_blank"><p>Western Orthopaedic Association</p></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
          <img class="img-responsive" src=resources/affiliationLogos/woa.jpg />
          <a href="https://www.smcma.org/" target="_blank"><p>San Mateo County Medical Association</p></a>
        </div>
        <div class="col-sm-4">
          <img class="img-responsive" src=resources/affiliationLogos/coa.jpg />
          <a href="http://coa.org/" target="_blank"><p>California Orthopaedic Association</p></a>
        </div>
      </div>
    </div>
  </section>


  <!-- Testimonials -->
  <section id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Testimonials</h2>
          <hr width="35%">
          <div class="testimonials">
            <p class="big margin">"I don't think of my knees anymore"</p>
            <p>- Teresa Kreutzmann</p>
          </div>
          <div class="testimonials">
            <p class="big margin text-center">"Healed left rotator cuff tear, follow up MRI showing complete tear as healed"</p>
            <p>- Roger Erpenbeck</p>
          </div>
          <p class="btnCenter"><a class="btn-cta" href="/reviews" role="button">View More &raquo;</a></p>
        </div><!-- End col -->
      </div><!-- End row -->
    </div><!-- end container -->
  </section>
  
  
<% include partials/footer %>