<% include partials/header-1 %>
<% include partials/prpTitle %>
<% include partials/header-2 %>

  <!-- Headline -->
  <div id="prpHeadline" class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-xs-12">
          <div class="titleBox fadeOut stop">
            <h1>Platlet Rich Plasma</h1>
            <h2>Platelet Rich Plasma (PRP) is a non-operative procedure, where platelets from the patient’s blood are injected into cartilage and tendons to reduce pain and aid in the healing of common injuries.</h2>
          </div>
        </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
  </div>

  <!-- Services Listed -->
  <section id="servicesOverview" class="whiteSection">
      <div class="header container">
        <p class="lead">Intro paragraph about using PRP instead of stem cells...get from Hughes</p>
      </div><!-- end header -->
    <div class="blueSection">
      <div class="container">
      <h2>What is Platlet Rich Plasma?</h2>
      <hr>
        <p class="lead">Platelet Rich Plasma (PRP) therapy is a non-surgical procedure that attempts to accelerate the healing process of soft tissue in patients suffering from tendon injuries, such as tennis elbow, or osteoarthritis. PRP injections can be an alternative to surgery and cortisone shots.</p>
        <p class="lead">The injections are comprised of the patient’s own platelets, which release growth factors capable of recruiting reparative cells. Platelets naturally attract to damaged tissue areas in the body. Injecting these platlets into damaged ligaments, tendons, and joints stimulates the natural repair process.</p>
      </div><!-- end container -->
    </div><!-- end blueSection -->
    <div class="innerWhite container">
      <!-- More About System -->
      <div class="container">
        <h2>The Procedure</h2>
        <hr>
        <p class="lead">The patient’s blood sample is placed in a centrifuge that spins the blood at a high enough speed to separate a concentration of platelets above normal values. The platelets and the blood plasma are injected into the injured area, often guided by ultrasound image.</p>
        <p class="lead">The injection process takes no more than hour, including the time it takes to create and prepare the PRP. Frequency of injections will vary depending on the patient and type of injury. Some patients receive a series of injections over the course of several weeks, while other patients can experience relief after one session.</p>
      <hr width="100%">
      <div class="row">
        <div class="col-md-5 blockTitle">
          <h2>This revolutionary technique may be used to heal many common conditions.</h2>
        </div><!-- end col 1 -->
        <div class="col-md-6 col-md-offset-1 bulletsLeft">
          <ul class="lead" style="list-style-type:circle;">
            <li>Tennis elbow</li>
            <li>Osteoarthritis of the knee, spin, shoulder and hip</li>
            <li>ACL injuries</li>
            <li>Achilles tendinitis</li>
            <li>Ankle sprains</li>
          </ul>
        </div><!-- end col 2 -->
      </div><!-- end row -->
    </div><!-- end innerWhite -->
  </section>
  
  






  <!-- PRP Costs -->
   <div id="stemCellCosts">
    <div class="container">
      <h2 style="margin-bottom:50px;">Platlet Rich Plasma Cost</h2>
      <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 overlay1">
          <h2><strong>$750</strong></h2>
          <h4>For each area treated</h4>
        </div><!-- end col 1 -->
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 overlay2">
          <h2>+ $250</h2>
          <h4>For 2 additional areas</h4>
        </div><!-- end col 2 -->
      </div><!-- end row -->
      <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 titleBox3">
          <h3>$1000 for all areas</h3>
        </div><!-- end col 2 -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div>

  <!-- Questions -->
  <section class="whiteSection">
    <div class="innerWhite container">
      <h2>Am I a Candidate for Platlet Rich Plasma?</h2>
      <hr width="100%">
      <p class="lead">Question Answer</p>
      <p class="lead">Question Answer</p>
    </div><!-- end container -->

    <div class="innerWhite container">
      <h2>What Are the Benefits of PRP Injections?</h2>
      <hr width="100%">
      <p class="lead">Question Answer</p>
      <p class="lead">Question Answer</p>
    </div><!-- end container -->

    <div class="innerWhite container">
      <h2>What Should I Expect After the Procedure?</h2>
      <hr width="100%">
      <p class="lead">Question Answer</p>
      <p class="lead">Question Answer</p>
    </div><!-- end container -->
    
    <div class="container">
      <h2>What Are the Risks of PRP Injections?</h2>
      <hr width="100%">
      <p class="lead">The main risks of Platlet Rish Plasma injections are...</p>
    </div><!-- end container -->
  </section>
    
<% include partials/footer %>