<% include partials/header-1 %>
<% include partials/prpTitle %>
<% include partials/header-2 %>
<% include partials/navigation %>

  <!-- Headline -->
  <div id="prpHeadline" class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-xs-12">
          <div id="" class="titleBox fadeOut stop">
            <h1>Platelet Rich Plasma</h1>
            <h2>Platelet Rich Plasma (PRP) is a non-operative procedure, where platelets from the patient’s blood are injected into cartilage and tendons to reduce pain and aid in the healing of common injuries.</h2>
          </div>
        </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
  </div>

  <!-- Service Intro -->
  <section class="whiteSection">
    <div class="header container">
      <p class="big text-left">Platelet-Rich Plasma is another widely used, non-invasive procedure similar to stem cell therapy. While stem cells are more commonly used in joints that need tissue regeneration, PRP focuses on areas that need the normal healing mechanisms restored. The ROM Clinic will always carefully evaluate each situation individually to decide which procedure is best to treat your condition.</p>
    </div><!-- end header -->
  </section>
  
  <!--What is PRP?-->
  <div class="blueSection">
    <div class="container">
    <h2>What is Platelet Rich Plasma?</h2>
    <hr>
      <p class="big margin">Platelet Rich Plasma (PRP) therapy is a non-surgical procedure that attempts to accelerate the healing process of soft tissue in patients suffering from tendon injuries, such as tennis elbow, or osteoarthritis. PRP injections can be an alternative to surgery and cortisone shots.</p>
      <p class="big margin">The injections are comprised of the patient’s own platelets, which release growth factors capable of recruiting reparative cells. Platelets naturally attract to damaged tissue areas in the body. Injecting these platelets into damaged ligaments, tendons, and joints stimulates the natural repair process.</p>
    </div><!-- end container -->
  </div><!-- end blueSection -->
  
  <!--PRP Procedure-->
  <section class="whiteSection">
    <div class="container">
      <h2>The Procedure</h2>
      <hr>
      <p class="big margin text-left">The patient’s blood sample is placed in a centrifuge that spins the blood at a high enough speed to separate a concentration of platelets above normal values. The platelets and the blood plasma are injected into the injured area, often guided by ultrasound image.</p>
      <p class="big margin text-left">The injection process takes no more than hour, including the time it takes to create and prepare the PRP. Frequency of injections will vary depending on the patient and type of injury. Some patients receive a series of injections over the course of several weeks, while other patients can experience relief after one session.</p>
    <hr width="100%">
    <div class="row">
      <div class="col-md-5 blockTitle">
        <h2>This revolutionary technique may be used to heal many common conditions.</h2>
      </div><!-- end col 1 -->
      <div class="col-md-6 col-md-offset-1 bulletsLeft">
        <ul class="lead" style="list-style-type:circle;">
          <li>Tennis elbow</li>
          <li>Osteoarthritis of the knee, spine, shoulder and hip</li>
          <li>ACL injuries</li>
          <li>Achilles tendinitis</li>
          <li>Ankle sprains</li>
        </ul>
      </div><!-- end col 2 -->
    </div><!-- end row -->
    </div><!-- end container -->
  </section><!-- end whiteSection -->


  <div class="panel panel-default">
    <div class="panel-heading">
      <a id="clicking" data-toggle="collapse" data-parent="#accordion" href="#collapse3"><h2>Platelet Rich Plasma Cost <i class="fa fa-angle-right" aria-hidden="true"></i></h2></a>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div id="stemCellCosts" class="panel-body">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 overlay1">
              <h2><strong>$750</strong></h2>
              <h4>For 2 joints</h4>
            </div><!-- end col 1 -->
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 overlay2">
              <h2>+ $250</h2>
              <h4>For 1 additional area</h4>
            </div><!-- end col 2 -->
          </div><!-- end row -->
        </div><!-- end container -->
      </div>
    </div>
  </div>

  <!-- Questions -->
  <section id="belowCost" class="whiteSection">
    <div class="container">
      <h2>Am I a Candidate for Platelet Rich Plasma?</h2>
      <hr width="100%">
      <p class="big margin text-left">If you are suffering from a soft tissue injury such as tendonitis, tendinosis, tendon tears, ligament sprains or tears, loose ligaments, or muscle tears, you may be a candidate for Platelet Rich Plasma.</p>
      <p class="big margin text-left">The ROM Clinic will always perform individual analysis of each patient to determine if Platelet Rich Plasma is the right treatment option for you.</p>
    </div><!-- end container -->

    <div class="container padding-top">
      <h2>What Are the Benefits of PRP Injections?</h2>
      <hr width="100%">
      <p class="big margin text-left">Results from PRP aim to accelerate the healing process of soft tissue injuries in cases such as unresponsive chronic pain, tendonitis symptoms, osteoarthritis symptoms, runner's knee, or lower back pain.</p>
    </div><!-- end container -->

    <div class="container padding-top">
      <h2>What Should I Expect After the Procedure?</h2>
      <hr width="100%">
      <p class="big margin text-left">Patients may experience throbbing and aching around the injection site once the local anesthetic wears off. This can last up top several days after the procedure. Patients who have had a PRP injection are advised to rest for a few days or weeks (if necessary) after the treatment in order to not push the injected tissue too quickly. Pain relief will generally start to occur within three to four weeks and continues to improve over a period of three to six months following an injection. The type of injury being treated will cause the recovery time to vary.</p>
    </div><!-- end container -->
    
    <div class="container padding-top">
      <h2>What Are the Risks of PRP Injections?</h2>
      <hr width="100%">
      <p class="big margin text-left">The main risks of Platelet Rich Plasma therapy are the same of any minimally invasive procedure, including risk of bleeding, infection and some pain during and after the procedure. Working with a qualified physician can minimize these risks.</p>
    </div><!-- end container -->
  </section>
  
  <% include partials/cta %>
  
    
<% include partials/footer %>