<% include partials/header-1 %>
<% include partials/reviewsTitle %>
<% include partials/header-2 %>
<% include partials/phone-conversions %>
<% include partials/navigation %>


<div id="reviewHeadline" class="jumbotron">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div class="titleBox4 fadeOut">
        <h3><b>"I can walk steps now after my stem cell injection in my arthritic knees. Before I had to use the rail. This is a wonderful procedure that was pain-free and easy to have done"</b></h3>
        <div class="reviewOwner"><h3>Martha M, 83-year-old female</h3></div>
      </div>
    </div><!-- end col -->
  </div><!-- end row -->
  <i class="fa fa-chevron-down fa-2x fadeOut" aria-hidden="true"></i>
</div><!-- end container -->
</div>

<div id="reviewHeadline2" class="jumbotron">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div class="titleBox4">
        <h3><b>"I've never slept better since my shoulder stem cell injection, it was instantly better with no pain after my injection for arthritis"</b></h3>
        <div class="reviewOwner"><h3>Robert N, 70-year-old male</h3></div>
      </div>
    </div><!-- end col -->
  </div><!-- end row -->
</div><!-- end container -->
</div>

<div id="reviewHeadline3" class="jumbotron">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div class="titleBox4">
        <h3>Rotator Cuff Tear</h3>
        <hr width="35%">
        <h3><b>"My torn rotator cuff is healed. A follow up MRI shows the complete tear as healed"</b></h3>
        <div class="reviewOwner"><h3>Roger E, 72-year-old male</h3></div>
      </div>
    </div><!-- end col -->
  </div><!-- end row -->
</div><!-- end container -->
</div>

<div id="reviewHeadline4" class="jumbotron">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div class="titleBox4">
        <h3>Bilateral Knee Arthritis</h3>
        <hr width="35%">
        <h3><b>"I don't think of my knees anymore!"</b></h3>
        <div class="reviewOwner"><h3>Teresa K, 74-year-old female</h3></div>
      </div>
    </div><!-- end col -->
  </div><!-- end row -->
</div><!-- end container -->
</div>


<% include partials/footer %>