<% include partials/header-1 %>
<% include partials/reviewsTitle %>
<% include partials/header-2 %>
<% include partials/navigation %>


<div id="reviewHeadline" class="jumbotron">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div class="titleBox4 fadeOut">
        <div><h3>"I can walk steps now after my stem cell injection in my arthritic knees. Before I had to use the rail. This is a wonderful procedure that was pain-free and easy to have done"</h3></div>
        <div class="reviewOwner"><h3>Martha Melts, 83-year-old female</h3></div>
      </div>
    </div><!-- end col -->
  </div><!-- end row -->
  <i class="fa fa-chevron-down fa-2x fadeOut" aria-hidden="true"></i>
</div><!-- end container -->
</div>

<div id="reviewHeadline2" class="jumbotron">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div class="titleBox4">
        <div><h3>"I've never slept better since my shoulder stem cell injection, it was instantly better with no pain after my injection for arthritis"</h3></div>
        <div class="reviewOwner"><h3>Robert Nichols, 70-year-old male</h3></div>
      </div>
    </div><!-- end col -->
  </div><!-- end row -->
</div><!-- end container -->
</div>

<div id="reviewHeadline3" class="jumbotron">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div class="titleBox4">
        <h3>"My torn rotator cuff is healed. A follow up MRI shows the complete tear as healed"</h3>
        <div class="reviewOwner"><h3>Roger Erpenbeck, 72-year-old male</h3></div>
      </div>
    </div><!-- end col -->
  </div><!-- end row -->
</div><!-- end container -->
</div>

<div id="reviewHeadline4" class="jumbotron">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div class="titleBox4">
        <h3>"I don't think of my knees anymore!"</h3>
        <div class="reviewOwner"><h3>Teresa Kreutzmann, 74-year-old female</h3></div>
      </div>
    </div><!-- end col -->
  </div><!-- end row -->
</div><!-- end container -->
</div>


<% include partials/footer %>