<% include partials/header-1 %>
<% include partials/shoulderTitle %>
<% include partials/header-2 %>
<% include partials/navigation %>

  <!-- Headline -->
  <div id="shoulderHeadline" class="jumbotron">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
          <div class="titleBox fadeOut stop">
            <h1>Shoulder Treatment Overview</h1>
            <h2 style="font-weight:300;">Stem Cell Therapy &#38; Platelet Rich Plasma Procedures are next generation regenerative injection treatments for those who are suffering from Shoulder Arthritis, Rotator Cuff Tears & Other Shoulder Conditions.</h2>
          </div>
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
  
  <!-- Hip Overview -->
  <section class="whiteSection">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 style="font-weight:300;">Let the ROM Clinic's advanced Stem Cell &#38; Platelet Procedures get you back to doing what you love.</h2>
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end container -->
  </section>
  
  
  <div id="shoulderIntro">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <p class="big margin text-left" class="justify">Injuries are very common in the shoulder due to how movable the joint is. The complexity of the joint makes surgery difficult and strength recovery can be a long road. Non-invasive injection procedures can alleviate pain with little to no down time.  These procedures can get you back to doing what you love right away if you are experiencing any of the following conditions:</p>
          <div class="text-left bulletsLeft">
            <ul class="big margin text-left" style="list-style-type:circle;">
              <li>Rotator cuff tears</li>
              <li>Arthritis of the shoulder joint</li>
              <li>Labral tears or degeneration</li>
              <li>Rotator cuff tendonitis</li>
              <li>Acromio-clavicular (AC) Joint</li>
              <li>Bursitis of the shoulder</li>
              <li>Shoulder Impingement Syndrome</li>
            </ul>
          </div>
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end kneeIntro -->


  <!-- Shoulder Overview -->
  <section class="whiteSection">
    <div class="container">
      <h2>Stem Cells &#38; PRP in the Shoulder</h2>
      <hr>
      <p class="big margin text-left">We are playing a key role in this cutting-edge stem cell medical field. We are the first orthopedic specialist to provide stem cell therapies to the shoulder with pain relieving results in the Bay Area. We have injected stem cells for rotator cuff tears which has proven on follow up MRI to get healing to the rotator cuff tear.This painless procedure is done in our office within one hour and no downtime is required after the stem cell treatment.</p>
      <p class="big margin text-left">Patients coping with arthritis, sports injuries, tendon strains, sprained ligaments, muscle injuries and more, will be comforted to know that surgery is not the only option of treatment available to them. Faster healing as well as improved functionality both are possible with innovative, cutting-edge adult stem cell and PRP procedures.</p>
    </div><!-- Container -->
    <!-- ------------------------- -->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="btnCenter"><a id="btnHv" class="btn btn-default" href="/stemcells" role="button">Stem Cell Procedure Overview</a></p>
        </div>
        <div class="col-md-6">
          <p class="btnCenter"><a id="btnHv" class="btn btn-default" href="/prp" role="button">Platelet Procedure overview</a></p>
        </div>
      </div>
    </div>
  </section>
  

<% include partials/cta %>  
    
<% include partials/footer %>