<% include partials/header-1 %>
<% include partials/staffTitle %>
<% include partials/header-2 %>
<% include partials/navigation %>

  
  <!-- Headline -->
  <div id="staffHeadline" class="jumbotron">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
          <div class="titleBox fadeOut stop">
            <h1>Meet The Doctors</h1>
          </div>
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div>


  <section id="staffOverview" class="whiteSection">
    <div class="container">
      <h2>The ROM Clinic Expertise</h2>
      <hr>
      <p class="big margin text-left">Dr. Paul Eliot Hughes has been in Orthopedics for the last 15 years, focusing on orthopedic surgery, total joint replacement, stem cell therapy and platelet rich plasma procedures. Dr. Hughes believes in the powerful properties of our own naturally generated stems cells, and their ability to repair different human tissues. He has carried out over 10,000 joint injections and has seen great success in his patients over the past few years. Our goal at the ROM Clinic is to provide a solution to your ailments without requiring invasive surgery.</p>
      <!-- <hr width="90%"> -->
    </div>
  </section>

  <!-- Hughes Bio Card -->
  <section id="hughesBio">
    <div class="container-fluid">
      <div class="row featurette">
        <div class="col-md-4">
          <img class="featurette-image img-responsive center-block" src="resources/headshots/hughes2.jpg" alt="Paul Eliot Hughes">
        </div>
        <div class="col-md-8">
          <h1 class="featurette-heading"  style="font-weight:300;">Paul Eliot Hughes, MD</h1>
          <p class="medium margin">Dr. Hughes holds an undergraduate degree in Physics from UCLA where he graduated Summa Cum Laude with a Distinction as First in his Class. He attended medical school at USC Keck School of Medicine where he served as Student Body President. He completed his Orthopedic Surgery training in Washington D.C. where he was Chief Resident at George Washington University Medical School. Dr. Hughes was awarded the top research paper by The Washington D.C. Orthopedic Society. Dr. Hughes received additional fellowship training in Sports Medicine at one of the leading medical centers and teaching institutions in the country, Washington University, in St. Louis, Missouri. It was here that he was Team Physician for The St. Louis Rams, National Football League, The Blues, National Hockey League and The St.Louis Cardinals, Major League Baseball Association.</p>
          <p class="medium margin">Dr. Hughes provides his patients with an unparalleled expertise in minimally invasive arthroscopic surgery of the hip, shoulder, knee, ankle, elbow and wrist. He is at the forefront in early-diagnosis and non-operative for effective hip pain treatment and has helped many patients live pain free without surgery. Dr. Hughes has instructed other surgeons on hip replacement and hip arthroscopy surgery and computer assisted surgical techniques. Dr. Hughes holds faculty appointments at Mills- Peninsula Hospital in San Mateo and Burlingame, Sequoia Hospital in Redwood City, and Campus Surgery Center in Daly City, California.</p>
          <p class="medium margin">More recently, Dr. Hughes is involved in the research and development of medical devices. He also serves in an advisory capacity to the news media, The College of San Mateo, and several medically oriented companies. Dr. Hughes is a consultant for ConforMIS. Dr. Hughes remains a lifetime member of the USC Honor Society. Like many philanthropists in the medical field, Dr. Hughes makes time to volunteer for the underserved and less fortunate. Dr. Hughes is an active member of Operation Access and community advocacy of the uninsured. He has been known to make local house calls to 100 year old patients and special needs children as young as 6. Doctor Hughes international surgeries have increased taking him to Australia in 2012 and Hong Kong in 2013.</p>
          <p class="medium margin">Dr. Hughes has published numerous scientific articles in sports medicine and orthopedic journals on preventing childhood sports injuries and is a frequently invited presenter at sports medicine and orthopedic meetings. Dr. Hughes is committed to quality care, patient education, injury prevention, joint preservation, and patient wellness. He works with each patient to establish an individualized treatment plan for joint preservation, and sees his patients personally at every appointment to ensure continuity and quality of care.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Mitchell Bio Card -->
  <section id="mitchellBio">
    <div class="container-fluid">
      <div class="row featurette">
        <div class="col-md-4 col-md-push-8">
          <img class="featurette-image img-responsive center-block" src="resources/headshots/mitchell.jpg" alt="Brian Mitchell">
        </div>
        <div class="col-md-8 col-md-pull-4">
          <h1 class="featurette-heading" style="font-weight:300;">Brian Mitchell, DO</h1>
          <p class="medium margin">Dr. Mitchell knows the importance of living an active life. His love affair with the outdoors and active living started at a very young age on the ski slopes and breaking waves of California. Dr. Mitchell is an avid cyclist, scuba diver, skier, and proponent of outdoor living.</p>
          <p class="medium margin">Dr. Mitchell graduated with an undergraduate degree in Integrative Biology from UC Berkeley.  Before matriculating to medical school he performed pre-clinical research at a local pharmaceutical company.  Studying medications and their efficacy on disease processes such as multiple sclerosis, arthritis, psoriasis and cardiovascular disease. He then went on to study orthopedic surgery outcomes as a researcher with the UCSF department of Orthopedic Surgery.  This is where he developed his passion for orthopedic medicine.  After graduating medical school Dr. Mitchell performed residency training at Pacific Hospital of Long Beach and served as a visiting clinical instructor with the Stanford University Department of Orthopedic surgery. He is board certified in anti-aging medicine.  He has completed additional training in ultrasound guided injection techniques.</p>
          <p class="medium margin">Dr. Mitchell has a strong interest in sports medicine.  He has served as a team physician with the Arena Football League champions, the San Jose Sabercats. His altruistic interest have taken him to Haiti on an orthopedics mission with Catholic Relief Services.</p>
          <p class="medium margin">He takes his same zest for life to his work with patients. He approaches each and every patient with a dedication to their care and quality of life. Dr. Mitchell chooses to practice anti-aging medicine, stem cell therapy, weight loss, and general wellness medicine, because he wants all people to live the best life they possibly can.</p>
          <p class="medium margin">Dr. Mitchell uses the most cutting edge medical techniques and practices to help his patients take full advantage of their health and fitness.</p>
        </div>
      </div>
    </div>
  </section>
  
    
<% include partials/footer %>