<% include partials/header-1 %>
<% include partials/stemcellsTitle %>
<% include partials/header-2 %>
<% include partials/navigation %>

<!-- Headline -->
  <div id="stemCellHeadline" class="jumbotron">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
            <div id="" class="titleBox fadeOut stop">
              <h1>The Stem Cell Solution</h1>
              <h2>Stem cells have the capability to heal or replace damaged tissues and cells in the body. They accomplish this by transforming into other cell types, such as bones, cartilage, muscles and tendons.</h2>
            </div>
          </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div>


  <!-- Service Intro -->
  <section id="" class="whiteSection">
      <div class="header container text-justify">
        <p class="big text-left">For many years as a practicing Orthopaedic Surgeon patients have asked me do they really need surgery to correct their problem or injury?  The answer was often yes, as most musculoskeletal problems don't heal well or at all without surgical intervention. But that has changed. There is a game changer that has now and will revolutionize the way us doctors think and how we approach treating our patients to heal without the need for surgery.  That game changer is Stem Cell therapy. - Dr. Paul Hughes</p>
      </div><!-- end header -->
  </section>
  
  <!--What is Stem Cell Therapy?-->
  <div class="blueSection">
    <div class="container">
      <h2>What is Stem Cell Therapy?</h2>
      <hr>
      <p class="big margin">Stem cells are naturally occurring cells in the body but are different from most other types of cells because they are multipotent, which means they can develop (“differentiate”) into a wide variety of specialized cell types including muscle, tendon and cartilage. They are categorized as either embryonic (derived from a fetus) or as adult (found in the human body). Adult stem cells grow in abundance in bone marrow and fat, but can also be found in smaller quantities in most tissue.</p>
      <p class="big margin">Stem cells naturally release anti-inflammatory elements that help decrease inflammation and pain that occurs in damaged tissue. The stem cells also signal existing cells to begin producing cartilage. All of these functions work to decrease pain, increase joint function and heal worn out or damaged cartilage. These cells are not critical to the body’s natural healing process. But by harnessing their ability and targeting them to specific areas, they provide a promising treatment for a diverse range of injuries and conditions.</p>
    </div><!-- end container -->
  </div><!-- end blueSection -->
  
  <!--Stem Cell Procedure-->
  <section class="whiteSection">
    <div class="container">
      <h2>The Procedure</h2>
      <hr>
      <p class="big margin text-left">Depending on your type of medical condition, stem cells can be injected directly into joints or organs, under the skin or through veins, arteries, or into spinal fluid. All of these are considered minimally invasive methods of introducing the stem cells. In the right environment, these stem cells can change (differentiate) into bone, cartilage, muscle, fat, collagen, neural tissue, blood vessels, and even some organs. Because it is your own DNA material, there is no rejection. The whole process takes a couple of hours in the office. You should be able to return to work the next day.</p><!-- http://www.svstemcell.com/stemcell_procedure.html -->
      <h3 class="text-left padding-top neg-padding-bottom">Arthrex Angel System</h3>
      <div class="row">
        <div class="col-md-8 text-left">
          <p class="big margin text-left">The type of stem cells that are associated with tissue repair are called mesenchymal stem cells (MSCs).  These MSCs are isolated in your bone marrow with great healing potential. Bone marrow stem cells, which can be used for bone and cartilage repair, are taken with a needle in the hip/pelvic area and concentrated in an FDA-approved device (Arthrex Angel system).</p>
          <p class="big margin text-left">To learn more about our cell preparation visit the below links:<br>
            <a href="http://m.arthrex.com/resources/video/02ZDTWD_cUyTXgFJhVgZrg/bone-marrow-aspirate-harvesting-technique" target="_blank">Bone Marrow Harvesting Technique</a><br>
            <a href="https://m.arthrex.com/orthobiologics/arthrex-angel-system-for-bone-marrow-concentrate-bmc/related-science/?taxonomy=arthrex_angel_system_bone_marrow_concentration" target="_blank">Bone Marrow Concentration (BMC)</a>
          </p>
        </div><!-- end col 1 -->
        <div class="col-md-4">
          <img class="arthrexIMG img-responsive center-block" src="resources/graphics/arthrex_angel_system_bone_marrow_concentration_2-large.png" alt="Arthrex Angel System">
        </div><!-- end col 2 -->
      </div><!-- end row -->
      <!-- Areas Covered -->
      <hr width="100%">
      <div class="row">
        <div class="col-md-4 blockTitle">
          <h2>This revolutionary technique may be used to heal many conditions.</h2>
        </div><!-- end col 1 -->
        <div class="col-md-7 col-md-offset-1 bulletsLeft">
          <ul class="lead" style="list-style-type:circle;">
            <li>Osteoarthritis (knee, hip, shoulder, wrist, ankle, or elbow)</li>
            <li>Osteochondral defect (damaged cartilage or bone within a joint)</li>
            <li>Muscle, tendon, or ligament tears</li>
            <li>Spine pain</li>
            <li>Labral injuries of the shoulder and hip</li>
            <li>And many other joint conditions that can benefit from regeneration healing with stem cells</li>
          </ul>
        </div><!-- end col 2 -->
      </div><!-- end row -->
    </div><!-- end container -->
  </section>

  <!-- Stem Cell Costs -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <a id="clicking" data-toggle="collapse" data-parent="#accordion" href="#collapse3"><h2>Stem Cell Therapy Cost <i class="fa fa-angle-right" aria-hidden="true"></i></h2></a>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div id="stemCellCosts" class="panel-body">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 overlay1">
              <h4>2 injections</h4>
              <h2>$5000</h2>
            </div><!-- end col 1 -->
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 overlay2" style="border:3px solid white;">
              <h4>Full Body Bilateral (All Joints)</h4>
              <h5> - includes ankles, knees, hips, shoulders, elbows, and wrists -</h5>
              <h2><strong>$15000</strong></h2>
            </div><!-- end col 2 -->
          </div><!-- end row -->
        </div><!-- end container -->
      </div>
    </div>
  </div>

  <!-- Questions -->
  <section id="belowCost" class="whiteSection">
    <div class="container">
      <h2>Am I a Candidate for Stem Cell Therapy?</h2>
      <hr width="100%">
      <p class="big margin text-left">If you have been suffering from any kind of joint, tendon, or ligament pain or simply want to improve your quality of life while avoiding complications related to invasive surgical procedures, you may be a candidate for Stem Cell therapy.</p>
      <p class="big margin text-left">Stem Cell therapy can help prevent the onset of arthritis and help patients avoid joint replacement. The ROM Clinic will always perform individual analysis of each patient to determine if Stem Cell Therapy is the right treatment option for you.</p>
    </div><!-- end container -->
    
    <div class="container padding-top">
      <h2>What Are the Benefits of Stem Cell Therapy?</h2>
      <hr width="100%">
      <p class="big margin text-left">Results of stem cell therapy include accelerated healing, and for many patients, pain relief that can last for years and, in some soft tissue injuries, permanently. In addition, stem cell therapy has the potential to reduce the amount of physical therapy and rehabilitation you may need after an injury or surgery if required.</p>
      <p class="big margin text-left"></p>
    </div><!-- end container -->

    <div class="container padding-top">
      <h2>What Should I Expect After the Procedure?</h2>
      <hr width="100%">
      <p class="big margin text-left">Most patients experience little or no discomfort and return to normal activities within a few days. Patients who have had stem cell therapy are advised to minimize excessive activity (specifically, prolonged weight-bearing and exercise) for two months after the procedure to allow healing to occur. In the case of arthritis, depending on the extent and location, doctors may recommend that the patient wears a brace for several months after the procedure.</p>
    </div><!-- end container -->
    
    <div class="container padding-top">
      <h2>What Are the Risks of Stem Cell Therapy?</h2>
      <hr width="100%">
      <p class="big margin text-left">The main risks of stem cell therapy are the same of any minimally invasive procedure, including risk of bleeding, infection and some pain during and after the procedure. Working with a qualified physician can minimize these risks.</p>
    </div><!-- end container -->
  </section>
  
  
  <!--Call To Action-->
  <section id="cta">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <!--Leadbox Code-->
          <script src="//static.leadpages.net/leadboxes/current/embed.js" async defer></script> <button data-leadbox-popup="12121c973f72a2:102a5c0e4946dc" class="btn-cta">Get Your Free Info Packet Here!</button>
          <h2>Or call us at (650) 343-5633 to schedule a consultation.</h2>
        </div>
      </div>
    </div>
  </section>

    
<% include partials/footer %>