<% include partials/header-1 %>
<% include partials/contactTitle %>
<% include partials/header-2 %>


  <!-- Headline -->
  <div id="contactHeadline" class="jumbotron">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
          <div class="titleBox fadeOut stop">
            <h1>Contact Us</h1>
          </div>
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div>


  <!-- Contact Information -->
  <section id="contactInfo" class="whiteSection">
    <div class="container">
      <h2 style="padding-bottom:25px;">Please call our office for an appointment to see if you are a candidate for the new age of medicine, joint regeneration with platlet procedures and your own stem cells.</h2>
    </div><!-- end container -->
    <!-- ---------------------- -->
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <i class="fa fa-phone fa-3x" aria-hidden="true"></i>
          <p>p: (650) 343-5633</p>
          <p>f: (650) 343-3122</p>
        </div>
        <div class="col-md-3">
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
          <p>Monday - Friday</p>
          <p>8am - 5pm</p>
        </div>
      </div><!-- end container -->
  </section>
  
  <section style="background:white;">
    <div class="container text-center">
      <i class="fa fa-map-marker fa-3x" aria-hidden="true" style="padding-top:15px; color:#1C517D;"></i>
      <h4 style="line-height:1.15em;">Orthopedic Center</h4>
      <p style="line-height:.75em;">100 S. Ellsworth Avenue</p>
      <p style="line-height:.75em; padding-bottom:10px;">San Mateo, CA 94401</p>
    </div>
  </section>


  <!-- Google Map Location -->
  <!--<div class="container-fluid">-->
    <div id="map"></div>
  <!--</div>-->
  

<% include partials/footerTest %>