<% include partials/header-1 %>
<% include partials/thankYouTitle %>
<% include partials/header-2 %>
<% include partials/conversion-tracking %>
<% include partials/phone-conversions %>
<% include partials/navigation %>


<div id="thankYouHeadline" class="jumbotron">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div class="fadeOut">
        <h2>Thank you for opting in to receive a patient info packet from The ROM Clinic! You will receive an email shortly containing the details.</h2>
        <hr width="50px">
        <h3 class="h3-height">Schedeule your consultation today! Call us at <b>(650) 343-5633.</b></h3>
          <h3>We look forward to hearing from you.</h3>
      </div>
    </div><!-- end col -->
  </div><!-- end row -->
</div><!-- end container -->
</div>

<% include partials/footer %>